<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:title" content="{{title}}">
    <meta name="og:description" content="{{description}}...">
    {{#if share_image}}
      <meta name="og:image" content="{{site_url}}{{share_image}}">
    {{/if}}
    <meta name="og:url" content="{{site_url}}{{url}}">
    <meta name="twitter:card" content="summary">
    <title>{{title}}</title>
    <link rel="alternate" type="application/rss+xml" title="{{title}}" href="{{site_url}}/index.rss">
    <style>{{>style}}</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/rust.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/bash.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <header><h1><a href="/" class="title">{{title}}</a></h1></header>
    <main class="content">
<article class="post">
  <div>
    <h2><a href="{{url}}">{{{title}}}</a></h2>
    {{{contents}}}
  </div>
  <time>{{modified}}</time>
  Tags: <ul class="tags">
  {{#each tags}}
    <li class="tags"><a href="tags.html#{{this}}">{{this}}</a></li>
  {{/each}}
  </ul>
  <nav><a href="index.html">back home</a></nav>
</article>
    <footer class="content">Find me on: <a rel="me" href="https://spacelase.rs/@todd">Mastodon</a><br>All content copyright © {{year}}, License: <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Attribution-NonCommercial-NoDerivatives 4.0 International</a><br>Source code: <a href="https://github.com/toddself/blog.selfassembled.org">github</a><br>Last updated: {{pub_date}}</footer>
  </body>
</html>
