<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A blog that creates itself">
    <title>{{title}}</title>
    <link rel="alternate" type="application/rss+xml" title="The blog that assembles itself" href="https://blog.selfassembled.org/index.rss">
    <style>{{>style}}</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/rust.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/bash.min.js"></script>
<script>hljs.highlightAll();</script>
  </head>
  <body>
    <header><h1><a href="/" class="title"><span class="box">b</span><span class="box">l</span><span class="box">o</span><span class="box">g</span><span class="box">.</span><span class="box">s</span><span class="box">e</span><span class="box">l</span><span class="box">f</span><span class="box">a</span><span class="box">s</span><span class="box">s</span><span class="box">e</span><span class="box">m</span><span class="box">b</span><span class="box">l</span><span class="box">e</span><span class="box">d</span><span class="box">.</span><span class="box">o</span><span class="box">r</span><span class="box">g</span></a></h1></header>
    <main class="content">
    {{#each contents}}
<article class="post">
  <div>
    <h2><a href="{{this.url}}">{{{this.title}}}</a></h2>
    {{{this.contents}}}
  </div>
  <time>{{this.modified}}</time>
  Tags: <ul class="tags">
  {{#each this.tags}}
    <li class="tags"><a href="tags.html#{{this}}">{{this}}</a></li>
  {{/each}}
  </ul>
</article>
    {{/each}}
    </main>
    {{#if pagination}}
    <nav class="content">Other posts:
      <ol class="tags">
      {{#each pagination}}
        <li class="tags"><a href="{{this.url}}">{{this.name}}</a></li>
      {{/each}}
      </ol>
    </nav>
    {{/if}}
    <footer class="content">Find me on: <a rel="me" href="https://spacelase.rs/@todd">Mastodon</a><br>All content copyright © {{year}}, License: <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Attribution-NonCommercial-NoDerivatives 4.0 International</a><br>Source code: <a href="https://github.com/toddself/blog.selfassembled.org">github</a><br>Last updated: {{pub_date}}</footer>
  </body>
</html>
